#boum{
	background-color: #267be5;
	min-height: 100%;
	overflow: auto;
	position: relative;
	width: 100%;
	z-index: 1;
}

.configPanel{
	font-size: 2em;
	margin-right: 1%;
	position: absolute;
	right: 40px;
	top: 15px;
}
.configPanel button{
	background: #999;
	border: none;
	border-radius: 5px;
	box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.2);
	// color: rgba(0,0,0,0.75);
	color: #FFF;
	cursor: pointer;
	font: 400 0.75em/1em 'Montserrat', sans-serif;
	font-weight: 700;
	line-height: normal;
	margin-left: 20px;
	outline: none;
	padding: 10px 20px;

	transition: transform 0.2s, background 0.2s;
}
.configPanel button:active,
.configPanel button:hover{
	background: #69bfff;
	transform: scale(1.08,1.08);
}
.configPanel .play:active,
.configPanel .play:hover{
	background: #34d293;
}
.configPanel .explode:active,
.configPanel .explode:hover{
	background: #e28c1a;
}
.configPanel .base:active,
.configPanel .base:hover{
	// background: #69bfff;
}


.SVGContainer .scrollContainer
{
  overflow-y:scoll;
  width: 100%;
}

.SVGContainer .title
{
  padding: 5px;
  background-color: #f0f0f0;
}

.SVGContainer svg text.title
{
  font-size: 35px;
}


/*.dotsContainer .baseIsOver{
  color: #e96656;
  animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
}*/

g.shaking circle
{
  animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
}


@keyframes shake {
  3%, 22% {
    transform: translate3d(-2px, 0, 0);
  }

  5%, 20% {
    transform: translate3d(2px, 0, 0);
  }

  8%, 13%, 18% {
    transform: translate3d(-2px, 0, 0);
  }

  10%, 15% {
    transform: translate3d(2px, 0, 0);
  }
  25%{
     transform: translate3d(0px, 0, 0);
  }
}

circle.dotCircleSelected
{
  fill:#a5ffdb !important;
}


.svgDot-enter {
  transform-origin: center;
  animation: dotZoomAnimationIn 0.3s cubic-bezier(.36,.07,.19,.97) both !important;
}

.svgDot-enter.dotmove {

}


.svgDot-enter.svgDot-enter-active {

}

.svgDot-leave {
  /*animation: dotZoomAnimationOut 0.2s cubic-bezier(.36,.07,.19,.97) both !important;*/
  animation:dotExplodeAnimation 0.5s cubic-bezier(.36,.07,.19,.97) both, dotFadeAnimation 0.5s !important;
  animation-iteration-count:1;
  transform-origin: center;
}

.svgDot-leave.no-animation{
  animation:none !important;
}

.svgDot-leave.svgDot-leave-active {
  opacity: 0;
}


@keyframes dotZoomAnimationIn {
  0% {    transform:scale(0);   }
  40% {   transform:scale(1.1); }
  100% {  transform:scale(1);   }
}


@keyframes dotZoomAnimationOut {
  0% {    transform:scale(1);   }
  100% {  transform:scale(0);   }
}

@keyframes dotExplodeAnimation {
  0% {    transform:scale(1);  }
  30% {
    transform:scale(0.5);
    fill:#ed8c4c;

  }
  100% {
    transform:scale(3);
    fill:#fbf8db;
  }
}

@keyframes dotFadeAnimation {
  0% {    opacity: 1;  }
  80% {   opacity: 0.8;  }
  100% {  opacity: 0;  }
}



.SVGContainer {
  margin: 0 auto;
  // background-color: #fff;
  // box-shadow: 5px 5px 0px 0px #689FBC;
}





body {
  -webkit-tap-highlight-color:transparent
}

.machine{
	color: #38a2ff;
	display: none;
	font: 700 4em/1.5em 'Montserrat', sans-serif;
}
.machine .fa{
	color: #277ce6;
}
.machine span{
	color: #34d293;
}

.dotBox{
	fill: #FFF;
	height: 98%;
	stroke: #CCC;
	stroke-width: 5;
	width: 18%;
	x: 1%;
	y: 1%;
}
.dotBoxTitle{
	fill: #CCC;
	height: 60px;
	width: 18%;
	x: 1%;
	y: 1%;
}
.dotBoxTitleText{
	// display: none;
	// fill: red;
	font-size: 35px;
	// height: 60px;
	// width: 18%;
	// x: 150;
	// y: 40;
}
.dotCircle{
	fill: #34d293;
}

.visualPanel{
	color: #28a3ff;
	font: 700 8em/1em 'Montserrat', sans-serif;
}
.visualPanel .ok{
	color: #34d293;
}
.visualPanel .baseIsOver{
  color: #e96656;
}
.visualPanel i{
	color: #167ce6;
}

@media (max-width: 940px) {
	.scolab{
		margin: 0 20px;
	}
	.App{
		// font-size: 0.5em;
	}
	.App-header h2{
		// padding: 5px 10px;
	}
	.App-header h2 span{
		// right: 10px;
		// top: 3px;
	}
	.App-header h2 button{
		// margin-left: 8px;
		// padding: 7px 15px;
	}
	.dotsContainers{
		// margin-top: -8px;
	}
	.credits p{
		display: block;
		float: none;
	}
	.credits .license{
		float: none;
		padding-top: 0.5em;
		text-align: center;
	}
}
@media (max-width: 767px) {
	#boum{
		padding-top: 45px;
	}
	.scolab{
		margin-top: 0;
		padding-top: 0;
	}
}
@media (max-width: 720px) {
	.App{
		font-size: 0.9em;
	}
	.App-header{
		height: 70px;
	}
	.App-header h2 img{
		height: 50px;
	}
	.configPanel{
		font-size: 1.8em;
		top: 15px;
	}
	.configPanel button{
		padding: 7px 12px;
	}
}
@media (max-width: 600px) {
	.App{
		font-size: 0.7em;
	}
	.App-header h2{
		padding-left: 10px;
	}
	.App-header{
		height: 58px;
	}
	.App-header h2 img{
		height: 48px;
		left: 10px;
		top: 5px;
	}
	.App-intro{
		padding: 10px;
	}
	.configPanel{
		right: 10px;
		top: 7px;
	}
	.configPanel button{
		font-size: 0.85em;
		height: 40px;
		line-height: 40px;
		margin-left: 10px;
		min-width: 40px;
		padding: 0 10px;
		text-align: center;
	}
	.dotsContainers{
		// margin-top: -8px;
	}
}
@media (max-width: 460px) {
	.App-header{
		height: 60px;
		line-height: 60px;
	}
	.App-header h2{
		line-height: 60px;
	}
	.scolab{
		font-size: 0.8em;
	}
	.credits img{
		width: 50px;
	}
	.configPanel{
		top: -1px;
	}
}
@media (max-width: 400px) {
	.App-header h2{
		// line-height: normal;
		// padding-top: 10px;
	}
	.App-header h2 strong{
		// display: block;
	}
}
@media (max-width: 340px) {
	.App{
		font-size: 0.5em;
	}
	.App-header h2{
		font-size: 2.8em;
	}
	.App-header h2 img{
		height: 35px;
		top: 12px;
	}
	.configPanel button{
		font-size: 1.2em;
	}
}
