body
{
  background-color: #267be5;
  font: 1em/1.45em 'Lato', sans-serif;
}

.scolab{
	margin: 45px auto;
	max-width: 900px;
  	text-align: center; 
}

.App {
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
}

.credits{
	opacity: 0.5;
	padding: 15px 5px;
	text-align: right;
}
.credits a{
	color: #000;
	text-decoration: none;	
}

/* &harr; */

/*:local .new{
	composes: App;
	border: 1px red solid;
}*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #f0f0f0;
  /**height: 65px;
  padding: 10px;
  color: #555;
  margin-bottom: 20px;**/
  text-align: left;
}

.App-header h2{
  box-sizing: border-box;
  font: 400 2em/2.5em 'Montserrat', sans-serif;
  margin-bottom: 8px;
  margin: 0 1%;
  padding: 0 40px;
  position: relative;
  text-transform: uppercase;
  width: 98%;
}
.App-header h2 strong{
	font-weight: 700;
}
.App-header h2 span{
	position: absolute;
	right: 40px;
	top: -4px;
}
.App-header h2 button{
	background: #34d293;
	border: none;
	border-radius: 5px;
	box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.2);
	// color: rgba(0,0,0,0.75);
	color: #FFF;
	cursor: pointer;
	font: 400 0.75em/1em 'Montserrat', sans-serif;
	font-weight: 700;
	line-height: normal;
	margin-left: 20px;
	outline: none;
	padding: 10px 20px;

	transition: transform 0.2s;
}
.App-header h2 button:hover{
	transform: scale(1.08,1.08);
}
.App-header h2 .explode{
	background: #e28c1a;
}
.App-header h2 .base{
	background: #69bfff;
}
.App-header h2:after,
.App-header h2:before{
  display: block;
  position: absolute;
}
.App-intro {
  background: #fff;
  font-size: large;
  padding: 30px 40px 40px;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.SVGContainer .scrollContainer
{
  overflow-y:scoll;
  width: 100%;
}

.dotsContainer
{
  width: 18%;
  display: inline-block;
  margin: 1%;
  background-color: #fff;
}

.SVGContainer .title, 
.dotsContainer .title
{
  padding: 5px;
  background-color: #f0f0f0;
}

.SVGContainer svg text.title
{
  font-size: 35px;
}

.dotsContainer .nbDots{
    width: 100%;
    float: left;
    margin: 10px 0px 5px;
    font-size: 40px;
    color: #555;
}


.dotsContainer .baseIsOver
{
  color:#ff0000;
  animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
}

g.shaking circle
{
  animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
}


@keyframes shake {
  3%, 22% {
    transform: translate3d(-2px, 0, 0);
  }
  
  5%, 20% {
    transform: translate3d(2px, 0, 0);
  }

  8%, 13%, 18% {
    transform: translate3d(-2px, 0, 0);
  }

  10%, 15% {
    transform: translate3d(2px, 0, 0);
  }
  25%{
     transform: translate3d(0px, 0, 0);
  }
}



.svgDot-enter {
  transform-origin: center;
  animation: dotZoomAnimationIn 0.3s cubic-bezier(.36,.07,.19,.97) both !important;
}

.svgDot-enter.svgDot-enter-active {

}

.svgDot-leave {
  /*animation: dotZoomAnimationOut 0.2s cubic-bezier(.36,.07,.19,.97) both !important;*/
  animation:dotExplodeAnimation 0.5s cubic-bezier(.36,.07,.19,.97) both, dotFadeAnimation 0.5s !important;
  animation-iteration-count:1;
  transform-origin: center;
}

.svgDot-leave.svgDot-leave-active {
  opacity: 0;
}


@keyframes dotZoomAnimationIn {
  0% {    transform:scale(0);   }
  40% {   transform:scale(1.1); }
  100% {  transform:scale(1);   }
}


@keyframes dotZoomAnimationOut {
  0% {    transform:scale(1);   }
  100% {  transform:scale(0);   }
}

@keyframes dotExplodeAnimation {
  0% {    transform:scale(1);  }
  30% {    
    transform:scale(0.5);
    fill:#ed8c4c;   

  }
  100% {  
    transform:scale(3); 
    fill:#fbf8db;
  }
}

@keyframes dotFadeAnimation {
  0% {    opacity: 1;  }
  80% {   opacity: 0.8;  }
  100% {  opacity: 0;  }
}



.SVGContainer {
  margin: 0 auto;
  // background-color: #fff;
  // box-shadow: 5px 5px 0px 0px #689FBC;
}





body {
  -webkit-tap-highlight-color:transparent
}

/** .dotsFullSizeContainers
{
  text-align: center;
}


.dotsFullSizeContainers .SVGContainer {
  background: red;
  display: inline-block;
}


.dotsFullSizeContainers .SVGContainer svg
{
  width: 800px;
  height: 450px;
}
.dotsFullSizeContainers .SVGContainer svg > g{
  margin: 20px;
} **/

.machine{
	color: #38a2ff;
	display: none;
	font: 700 4em/1.5em 'Montserrat', sans-serif;
}
.machine .fa{
	color: #277ce6;
}
.machine span{
	color: #34d293;
}
.configPanelWrapper {
	display: none;
	padding: 10px 0;
}
.dotsContainers {
	// display: none;
	margin-top: -38px;
}
.dotsContainers .title,
.dotsContainers button,
.dotsContainers .nbDots{
	display: none;
}
.baseNumber{
	// border: 1px solid #000;
	color: #CCC;
	display: block;
	font: 700 4em/1.5em 'Montserrat', sans-serif;
}
.dotBox{
	fill: #FFF;
	height: 98%;
	stroke: #CCC;
	stroke-width: 5;
	width: 18%;
	x: 1%;
	y: 1%;
}
.dotBoxTitle{
	fill: #CCC;
	height: 60px;
	width: 18%;
	x: 1%;
	y: 1%;
}
.dotBoxTitleText{
	// display: none;
	// fill: red;
	font-size: 35px;
	// height: 60px;
	// width: 18%;
	// x: 150;
	// y: 40;
}
.dotCircle{
	fill: #34d293;
} 