body
{
  background-color: #7BBBDD;
}

.App {
  box-shadow: 5px 5px 0px 0px #689FBC;
  margin: 45px auto;
  max-width: 900px;
  text-align: center; 
}

/*:local .new{
	composes: App;
	border: 1px red solid;
}*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #f0f0f0;
  /**height: 65px;
  padding: 10px;
  color: #555;
  margin-bottom: 20px;**/
  text-align: left;
}

.App-header h2{
  font: 2em/2.5em Open Sans, sans-serif;
  margin: 0;
  padding: 0 40px;
  position: relative;
}
.App-header h2:after,
.App-header h2:before{
  display: block;
  position: absolute;
}
.App-intro {
  background: #fff;
  font-size: large;
  padding: 30px 40px 40px;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.dotsContainer
{
  width: 200px;
  display: inline-block;
  margin: 10px;
  background-color: #fff;
}

.dotsContainer .title
{
  padding: 5px;
  background-color: #f0f0f0;
}

.dotsContainer .nbDots{
    width: 100%;
    float: left;
    margin: 10px 0px 5px;
    font-size: 40px;
    color: #555;
}


.dotsContainer .baseIsOver
{
  color:#ff0000;
  animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
}

.shaking
{
  animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
}


@keyframes shake {
  3%, 22% {
    transform: translate3d(-1px, 0, 0);
  }
  
  5%, 20% {
    transform: translate3d(1px, 0, 0);
  }

  8%, 13%, 18% {
    transform: translate3d(-1px, 0, 0);
  }

  10%, 15% {
    transform: translate3d(1px, 0, 0);
  }
  25%{
     transform: translate3d(0px, 0, 0);
  }
}



.svgDot-enter {
  transform-origin: center;
  animation: dotZoomAnimationIn 0.3s cubic-bezier(.36,.07,.19,.97) both;
}

.svgDot-enter.svgDot-enter-active {

}

.svgDot-leave {
  animation: dotZoomAnimationOut 0.2s cubic-bezier(.36,.07,.19,.97) both;
  transform-origin: center;
}

.svgDot-leave.svgDot-leave-active {

}


@keyframes dotZoomAnimationIn {
  0% {    transform:scale(0);   }
  40% {   transform:scale(1.1); }
  100% {  transform:scale(1);   }
}


@keyframes dotZoomAnimationOut {
  0% {    transform:scale(1);   }
  100% {  transform:scale(0);   }
}




.SVGContainer {
  width: 100%;
  margin: 0 auto;
}





body {
  -webkit-tap-highlight-color:transparent
}

/** .dotsFullSizeContainers
{
  text-align: center;
}


.dotsFullSizeContainers .SVGContainer {
  background: red;
  display: inline-block;
  width: 600px;
}


.dotsFullSizeContainers .SVGContainer svg
{
  background: blue;
  height: 400px;
}
.dotsFullSizeContainers .SVGContainer svg > g{
	background: yellow;
} **/

.configPanelWrapper {
	padding: 10px 0;
}