#landing{
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
  // display: none;
}
:local(.home){
  min-height: 100%;
  overflow: auto;
  padding-bottom: 60px;
  // position: relative;
  width: 100%;
  z-index: 1;
}
:local(.bg){
  background-position: center center;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 0;
}
:local(.landing){
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px 60px;
  position: relative;
}
:local(.landing) h1{
	font-size: 4em;
	margin: 0.8em 0 0 0;
	text-align: center;
}
:local(.landing) h2{
	font-size: 2em;
	margin: 0.3em 0 1em;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}
:local(.landing) a{
	color: #167ce6;
}
:local(.landing) a:hover{
	color: #28a3ff;
	text-decoration: none;
}
:local(.box){
	background: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	margin: 1em auto;
	padding: 25px 40px;
}
:local(.intro){
	composes: box;
	margin-top: 2.5em;
	max-width: 720px;
}
:local(.half){
	margin: 0 auto;
	max-width: 720px;
	width: 100%;
}
:local(.subscribe){
	background: #167ce6;
	color: #FFF;
	composes: box;
	float: right;
	width: 48%;
	// margin-right: 2em;
	// margin-top: -4em;
	// padding: 0 20px;
}
:local(.subscribe) #mc_embed_signup{
	background: none;
	color: inherit;
}
:local(.subscribe) #mc_embed_signup form{
	padding: 0;
}
:local(.invite){
	composes: box;
	width: 48%;
	float: left;
	// margin-right: 2em;
	// margin-top: -4em;
	// padding: 0 20px;
}
:local(.CTA){
	background: none;
	border: none;
	color: #167ce6;
	cursor: pointer;
	display: block;
	font-size: 4em;
	margin: 0 auto;
	text-align: center;
	transition: transform 0.2s, background 0.2s;
}
:local(.CTA):hover{
	transform: scale(1.15,1.15);
}